
.vertical-menu {
    width: 500px;
    height: 300px;
    overflow-y: auto;
  }
  
  .vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
  }
  
  .vertical-menu a:hover {
    background-color: #ccc;
  }
  
  .vertical-menu a.active {
    background-color: gray;
    color: black;
  }